h1{
	color:White;
	       font-family:  Vecta;
	     background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);
	   background-size: 150% 100px; 
	   text-align : center;
}

p
{
	text-align : center;
	font-weight: bold;
	font-family:  Vecta;
	font-size: 150%;
}